<input id="index_checked" class="index_check" type="checkbox">
<label class="hum_icon" for="index_checked">
    <span class="hum_icon-parts"></span>
</label>
<label class="index_overlay" for="index_checked"></label>

<header class="header">
    <div class="items">
        <a class="logo" href="index.html">xlAres</a>
        <a class="github" href="https://github.com/Yu0727Harada/xlAres">github</a>
    </div>
</header>