<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h3>LAコントロールパネルの表示の仕方</h3>
            <p>
                メインシートの右側にLAコントロールパネルがあります。これを操作するためにはスクロールバーが必要です。<br>
                スクロールバーが表示されていない場合は予約表の右下にある歯車ボタンをクリックするとパスコードを要求されます。<br>
                <img class="img_small" src="image/geer.png" alt="歯車ボタン"><br>
                パスコードの入力が完了するとスクロールバーが表示されます。（既に表示されていた場合には非表示になるます。）スクロールバーを操作して予約表の右側のコントロールパネルを表示させます。<br>
                <img class="img_small" src="image/compane_outline.png" alt="コントロールパネル">
            </p>

        </div>
    </main>
</div>
</body>


</html>