<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h4 >マクロ実行ボタン</h4>
            <p class="red">基本的に挙動がおかしい時は、定期再計算再実行とメインシートセッティングと生データソートをガチャ押しすれば治りますので、よく分からない時はガチャ押ししてください。<br>
                また、エラーによってはこのボタンを押してくださいと出るので、その時に、指定のボタンを押してください。押してリカバリーの効かない操作のボタンはありませんので、押すことをためらう必要はありません。</p>
            <ul>
                <li id="data_sort">
                    <h5 >生データソート</h5>
                    <p>
                        生データシートに入力されているデータを予約コードをキーにして昇順でソートします。<br>
                        こんな時に→予約ずみと表に表示されない時
                    </p>
                </li>
                <li id="shift_sort">
                    <h5 >シフトシートソート</h5>
                    <p>
                        シフト表シートを勤務終了時刻をキーとして昇順にソートします。シフトが意図した通りに読み込まれない場合などに用いてください。
                    </p>
                </li>
                <li id="repeat_execute">
                    <h5 >マクロ再実行</h5>
                    <p>
                        メインシートは1分ごとに再計算を行なっていますが、たまに止まります。（エラーが出た時、マクロの編集をした時など）時刻の更新が一定時間（2分以上）されない場合はシートの再計算が実行されてないので、このボタンを押してください。<br>
                        こんな時に→日付を変更した場合,予約済と出るのに表に色がつかない現象が恒常的に起こる。 時刻が更新されない、あるいは表示されている時刻が0:00などおかしい<br>
                        その他大概の不具合がこれで治ると思います。治らなかったらエクセルを再起動してください
                    </p>
                </li>
                <li id="recalculate">
                    <h5 >ワークシート再計算</h5>
                    <p>
                        メインシートの再計算を行います。<br>
                        こんな時に→予約をしたのに表に予約ずみと表示されない時、時刻が更新されない時
                    </p>
                </li>
                <li id="refresh_duplicate">
                    <h5>重複チェックシートリフレッシュ</h5>
                    <p>
                        予約している人のそれぞれのその日の予約数を記録している重複チェックシートを一度クリアして、新たに人数を数え直します。<br>
                        こんな時に→エラー処理でこれをするように指示された時。予約数絡みでなんかおかしいとき。
                    </p>
                </li>
            </ul>

        </div>
    </main>
</div>
</body>


</html>