<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h4 >表示／非表示オプション</h4>
            エクセルの外見について操作することができます。利用者に意図しない操作をさせないためにも、基本的に全ての項目を非表示にし、シートを保護した状態にしてください。

        </div>
    </main>
</div>
</body>


</html>