<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
                <h3>予約表固有エラー</h3>
                マクロ作成者がすでにエラーを認識、原因を解明しているため、エラーが発生した際にメッセージボックスにエラー番号が記載されています。以下に各エラー番号ごとの対処法がありますで、これを参考に対処してください。
                <ul>
                    <li>
                        <h4>:エラー002</h4>
                        <p>
                            予約表ファイルはマクロで自動的に保護されるようになっています。それによりセルの背景色を変更する際に、変更できずにエラーが出ることがあります。特に初めてのPCで開いた際に起こりますが一度設定すると発生しなくなります。<br>
                            解決策　校閲のシートの保護の解除をクリック。校閲がない場合（リボンが表示されていない時）には<a href="control_panel_view_option.html">コントロールパネルの表示/非表示設定からリボンを表示</a>を押します。<br>
                            <img class="img_small" src="image/error_1.png" alt="エラー002＿1"><br>
                            シートの保護に変わるのでもう一度クリック<br>
                            <img class="img_small" src="image/error_2.png" alt="エラー002＿2"><br>
                            セルの書式設定のチェックボックスにチェックを入れてOKボタンを押します。<br>
                            <img class="img_small" src="image/error_3.png" alt="エラー002＿3"><br>
                        </p>
                    </li>
                    <li>
                        <h4>:エラー番号101</h4>
                        <p>
                            通常起こりえないエラーです。原因としてはきちんと生データがソートされていない、ソートされていない状態で予約などを行なったために予約データが重複していると考えられます。まずは<a href="control_panel_execute.html#data_sort">LAコントロールパネルで生データをソート</a>してください。それでもエラーが出る場合は、生データシートを直接見て、同じ時間帯、席番号が被っているデータを削除してください。
                        </p>
                    </li>
                    <li>
                        <h4>：エラー番号102</h4>
                        <p>
                            予約を削除する際にその人の1日の予約数を減少させようとしたら、その人の学籍番号が見つからなかった場合のエラーです。原因としては重複チェックシートや<a href="administer/edit_raw_data.html">生データを直接編集</a>した際に起こると思います。特に影響はないですが、LAコントロールパネルで<a href="control_panel_execute.html#refresh_duplicate">重複チェックシートリフレッシュ</a>を行うとよいと思います。
                        </p>
                    </li>
                    <li>
                        <h4>：エラー番号103</h4>
                        <p>
                            予約を削除する際に生データを検索したら予約が見つからなかった場合です。通常ありえません。生データシートの予約コードが何らかの要因で直接編集された、あるいは予約表の数式が変更されたことも考えられます。バックアップの予約表の数式をコピーして貼り付けるなどしてください。
                        </p>
                    </li>
                    <li>
                        <h4>：エラー番号２０１</h4>
                        <p>
                            シフト表に読み込まれている番号が出力シートのプロフィールシートに存在しない場合のエラーです。エラーが出た場合はその番号のプロフィール表示をスキップし、モジュール１のshift_profile_countで指定した数までプロフィールの表示を続けます。<br>
                            <img class="img_small" src="image/error_4.png" alt="エラー201_1"><br>
                            例）その時のシフトが３、１０、１５番号で１０番のプロフィールがなかった場合、３と１５番のプロフィー
                            ルを表示します。<br>
                            また、更新のたびにエラーを吐きますので、プロフィール番号が間違えた場合などはそこを修正。そもそもプロフィールを用意していない場合などはシフト表の番号を０に設定しましょう。０はエラーなしで表示をスキップします。<br>
                            例）シフトを３、０、１５に設定するとエラーなしで３と１５番のプロフィールを表示します。</p>
                    </li>
                </ul>

            </div>
    </main>
</div>
</body>


</html>