<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h3>バグの報告</h3>
            <p>
                予約表のマクロはGitHubにアップロードしています。<br>
                URL　 <a href="https://github.com/Yu0727Harada/xlAres">https://github.com/Yu0727Harada/xlAres</a><br>
                バグ報告、プルリクエストなどしていただいてもちろんかまいませんので使える人はそちらからどうぞ。<br>
                予約表を操作しているとエラーにであうことがあると思います。その時の対処法を書いていきます。エラーには2種類あります。１つ目は予約表固有エラー、２つ目はVBAエラーです。
            </p>

        </div>
    </main>
</div>
</body>


</html>