<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h3>VBAエラー</h3>
            <p>
                作成者が予期していない、あるいは予期していても防ぐことが難しい場合は発生します。こんな感じのが出てきます。<br>
                <img class="img_small" src="image/vbaerror.png" alt="VBAエラー"><br>
                終了を押して大概問題ありませんが、出来ればデバックボタンを押して、どの行でエラーが出たかスクショして報告してくれると開発に役立ちます。
            </p>
        </div>
    </main>
</div>
</body>


</html>