<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h3>LAのプロフィールを設定する</h3>

            メインシートの右側に表示しているLAのプロフィールを変更したい時は入力シートに入力して出力ボタンを押すことで新しくプロフィールを出力出来ます。<br>
            <img class="img_small" src="image/input_profile.png" alt="入力シート"><br>
            入力シートA列に入力した番号が出力シートのA列に入力されます。なお、ボタンを押して出力すると自動的にA列でソートされます。このA列に入力した番号とシフト表の番号に対応させてメインシートに出力するため、個人の番号を一致させるようにしてください。この番号は0以上の整数にしてください。また0については特殊な動作をします。後述の<a href="#number_zero">番号が0のプロフィールについての特殊動作</a>について参照してください。<br>
            B列、C列、D列に書いた内容は１つのテキストボックスでまとめて出力されます。<br>
            E列を選択するとファイル選択ダイアログが出てくるので、表示させたい画像を選択してください。この時、このプロフィール画像はPC予約表エクセルファイルと同一か、それ以下のフォルダに置くようにしてください。また、E列に何も入力せず出力ボタンを押した場合、PC予約表エクセルファイルと同一フォルダに置かれている"Noimage.png"ファイルの画像が出力されるようになっています。<br>
            <img class="img_small" src="image/folder-note.jpg" alt="フォルダ階層模式図"><br>
            出力ボタンを押すと自動でトリミングなど行います。この時の設定は<a href="system_set_profile.html">システムのカスタマイズ</a>から行えます。<br>
            F列に入力された文字はプロフィール下部に表示されます<br>
            <img class="img_small" src="image/profile.png" alt="プロフィール出力"><br>
            出力シートを見るとこのように出力されます。出力シートの枠線を表示するとメインシートに出力した時にも枠線が見えるようになります。出力シートを直接編集してもメインシートでの表示に反映されます。出力ボタンを押した時の出力の位置を変えたい場合には<a href="system_set_profile.html">プロフィールのテキストボックスなどのカスタマイズをする</a>を参照してください。

            <h4 id="number_zero">番号が0のプロフィールについての特殊動作</h4>
            番号が０のプロフィールは特殊な扱いを受けます。例えば、シフト表に０の番号が入力されていた場合はそのプロフィールの表示をスキップします。つまり、シフト表に0番号があってもプロフィールの表示はされません。<br>
            では、いつ表示されるかというと番号が０のプロフィールが表示されるのは現在の時間帯に勤務している人が誰もいない時です。（≒シフト表に現在の時間帯の入力がない場合）誰も勤務している人がいないときに表示させたいメッセージなどを設定したりすることが可能です。<br>
            番号0のプロフィールは入力シートで入力した時にも特別な動作をします。0の番号のプロフィールを入力した時には出力シートの0プロフィールを削除し、新たに入力されたプロフィールを出力します。一方、0プロフィールを入力しなかった時は出力シートの0プロフィールは削除されず、他のプロフィールのみ削除し出力シートを更新します。<br>
            <img class="img_small" src="image/zero_profile_1.png" alt="プロフィール番号0-1">
            <img class="img_small" src="image/zero_profile_2.png" alt="プロフィール番号0-2"><br>
            LAが勤務していない時に表示させておきたい文言などを登録しておくと便利だと思います。（出力シートは直接編集することも出来ますので自由に出力することが出来ます。<br>


        </div>
    </main>
</div>
</body>


</html>