<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h2>xlAres</h2>
            
            <h3>概要</h3>
            <p>
                ・このプロジェクトの目的<br>
                このプロジェクトの目的は大学自習室にあるPC席の予約管理をエクセルマクロファイルで管理することです。<br>
                ・通常のプログラム言語ではなくエクセルマクロを使用する理由<br>
                新たなソフトをインストールすることが限られている環境でも、エクセルが使用できる環境であればデジタルなデータとして予約情報を管理することが出来ます。<br>
                開発をする上でも環境構築などをする必要がなく、プログラム経験者のいない環境でも開発することが可能です。<br>
                ・使い方、マニュアルなど<br>
                https://yu0727harada.github.io/xlAres/<br>
                ・インストール<Br>
                特別にインストールする必要はありません。binフォルダに入っているエクセルファイルを開けば使用可能です。<br>
                ・フォルダの構成<br>
                binフォルダ　エクセルファイルが入っています。<br>
                srcフォルダ　エクセルマクロを出力したデータが入っています。<br>
                docsフォルダ 使い方について記述したhtmlファイルが入っています。<br>
                ・名前の由来
                Excel assist in reserving　の略。インターネット上で一意な名前がないと検索する意味がないので…。
            </p>

        </div>
    </main>
</div>
</body>


</html>