<!DOCTYPE html>
<html lang="ja">
<% let title = "既存予約の変更/予約を取るための基本的な使い方 - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h3>既存予約の変更</h3>
            <p>
                予約済か、使用中と表示されているセルをクリックすると予約の変更などフォームが表示されます。マスターモードの場合は使用済のセルをクリックしても表示されます。（<a href="control_panel_switch_mode.html#master">マスターモードについて参照する</a>）<br>
                <img class="img_small" src="image/vary_resrve.png" alt="予約変更フォーム"><br>
            </p>
            <ul>
                <li>
                    利用者の追加をクリックすると利用者の追加フォームが表示され、新規予約同様に番号を入力することで、予約者の追加を行うことが出来ます。<br>
                    <img class="img_small" src="image/add_user.png" alt="利用者の追加"><br>
                </li>
                <li>
                    延長をクリックすると、1コマ分延長することが出来ます。<br>
                </li>
                <li>
                    予約の取り消しを押すと取り消しフォームが出ます。<br>
                    <img class="img_small" src="image/delete_resrve.png" alt="予約の取り消し">
                    <p>
                        LAのパスコードを入力するか、取り消したい予約を行なった人、誰か一人の学籍番号か台帳番号を入力することで予約を取り消すことが出来ます。（<a href="control_panel_develop.html#passcord">LAコントロールパネル―パスコードの設定</a>、<a href="system_const_passcord.html">システムのカスタマイズ、パスコードの設定参照</a>）<br>
                        <span class="red">この時、正しく入力していても取り消せない場合があります。</span>これは学籍番号を台帳番号に変換する際に不具合があるからです。具体的には下の画像の黄色の学科の台帳番号は実際にそうであるか不明で仮での変換です。そのため、変換がうまくいかず、取り消しの認証がされません。もしそのような人がいた場合はパスコードを入力して対処してください。<br>
                        また、できれば正確な台帳番号が手に入れば更新してください。（更新の仕方→<a href="implementation.html#outline">GitHubで報告していただければ対応します</a>）<br>
                        <img class="img_small" src="image/student_number_list.png" alt="変換表">
                    </p>
                </li>
                <li>
                    ケーブル貸し出しボタンをクリックすると、貸し出しのステータスが変化します。
                </li>
            </ul>
        </div>
    </main>
</div>
</body>


</html>