<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h3 >シフト表の各セルの位置を変更する</h3>
            <p>
                別ファイルのシフト表作成ファイルのセルの位置を変更した場合などは3.システムのカスタマイズ-メインシートの各セルの位置を変更するを参照して、以下の数字変更してください。各変数の表すセルの位置は図に示しました。<br>
                <img class="img_small" src="image/design_shift_2.png" alt="シフト位置変更2">
                <img class="img_small" src="image/design_shift_1.png" alt="シフト位置変更1">
            </p>

        </div>
    </main>
</div>
</body>


</html>