<!DOCTYPE html>
<html lang="ja">
<% let title = "TOP - xlAres" %>
<% include partical/_head.ejs %>

<body>
<div class="container">

    <% include partical/_header.ejs %>
    <% include partical/_aside.ejs %>

    <main class="main">
        <div class="main_content">
            <h3 >メインシートの各セルの位置を変更する</h3>
            <p>
                パスコードと、モジュールを開くとこまでは同じです。パスコードの下に書いてある文字を変更することで位置を変更することができます。<br>
                <img class="img_small" src="image/design_1.png" alt="位置変更1"><br>
                各変数の表しているセルの位置を図にしめしてあります。Columnの綴りが間違っている箇所がありますので、誰か直してください。他にもタイポしてたりするのですみません。メインシートのデザインを変更した際などに数字を調整してください。<br>
                <img class="img_small" src="image/design_2.png" alt="位置変更2"><br>
            </p>

        </div>
    </main>
</div>
</body>


</html>