@charset "UTF-8";
/* CSS Document */

.line{
	text-decoration: line-through;
}

.red {
	color:red;
}

.index{
	padding:20px;
}

.img_max {
	max-width: 100%;
	height: auto;
	padding: 20px;
}

.img_small{
	height: auto;
	width: auto;
}

@media screen and (max-width: 500px){
	body{
		-webkit-text-size-adjust: 100%;
		font-family: source-han-sans-japanese, sans-serif;
		font-weight: 300;
		font-style: normal;
		color: aqua;
		font-size:22px;
		line-height: 1.7;

	}
}
@media screen and(min-width: 501px){

	body{
		font-family: source-han-sans-japanese, sans-serif;
		font-weight: 300;
		font-style: normal;
		font-size:17px;
		line-height: 1.6;
	}
}
